html { font-size: 62.5%; }

body {
  margin: 0;
  font-family: Helvetica, sans-serif;
}

.map {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.loader {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.location-info {
  position:absolute;
  top: 10rem;
  right: 5rem;
  width: 40rem;
  min-height: 20rem;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.8rem;
  color: #000;
}

.location--info__open {
  display: block !important;
}

.location--info__close {
  display: none !important;
}

.location-info ul {
  list-style-type: none;
  padding: 0;
}

.location-info li {
  padding: .5rem 0;
}

.btn {
  background: black;
  color: white;
  font-weight: 900;
  padding: 1rem 1.3rem;
  border-radius: .4rem;
  box-shadow: none;
  outline: none;
  border: none;
  text-transform: uppercase;
  cursor:pointer;
  transition: background-color 0.3s ease-out;
}

.btn:hover,
.btn:focus {
  background-color: lightslategray;
}

.header {
  padding: 1rem;
  background-color: firebrick;
  color: white;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.header h1 {
  font-size: 2.5rem;
  padding: 0;
  text-transform: uppercase;
}